.row.center
  .well.fullspan
    .span12
      .span2half
        #request_icon.img-polaroid
      .span9
        %h2 Your inbox
        %p= "You have #{@inbox_alerts.count} unread messages"
.row
  .span12.skip_fullspan

  .row.bottom20
    .span12
      .black_seperate
      .seperate.bottom10
      .lead 
        Your
        %span.redding unread
        messages
      - @unread_messages.each do |msg|
        =link_to message_path(msg) do
          .span5.bottom20.request_link
            .media.row
              .span1
                = image_tag other_user(msg).photo(:thumb), :class => 'img-polaroid fav_photo inline right30'
              .media-body.span4
                %h4.media-heading.redding= truncate('unread message', :length => 25, :separator => ', ')
                .muted.inline= msg.created_at.strftime('%b %-d %Y -')
                %span= truncate(msg.text, :length => 70, :separator => ' ')

  .row.bottom20
    .span12
      .black_seperate
      .seperate.bottom10
      .lead 
        Your
        %span.redding read
        messages
      - @read_messages.each do |msg|
        =link_to message_path(msg) do
          .span5.bottom20.request_link
            .media.row
              .span1
                = image_tag other_user(msg).photo(:thumb), :class => 'img-polaroid fav_photo inline right30'
              .media-body.span4
                %h4.media-heading.redding= truncate('read message', :length => 25, :separator => ', ')
                .muted.inline= msg.created_at.strftime('%b %-d %Y -')
                %span= truncate(msg.text, :length => 70, :separator => ' ')

