.row.center
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    .well.fullspan
      .span10
        .photo_edit_span.span3.top30
          = f.file_field :photo, :class => 'hidden photo_input'
          .pic.favorite_pic
            =image_tag current_user.photo.url(:square), :class => 'img-polaroid'
          .edit_text.hidden
            %span.badge edit photo

        .span6
          .row
            .span3
              = f.label :first_name
              =f.text_field :first_name
            .span3
              = f.label :last_name
              =f.text_field :last_name
          %p
            = f.label :description, 'Tell us about yourself!'
            =f.text_area :description
    .row
      .span10.skip_fullspan
        .lead Where are you from?
        .span6
          - Country.all.each do |country|
            .span1
              = f.radio_button :country_id, country.id, :class => 'hidden country_radio', :country_name => "#{country.name}"
              = f.label "country_id_#{country.id}" do
                %span.world_flag{:class=>"sprite-#{country.flag}", :'data-toggle'=>"tooltip", :rel=> 'tooltip', :title=> country.name}
        .span3
          #country_name.label.label-important= @user.country.try(:name) || 'Unknown Lands'

    .row.top20
      .black_seperate
      .seperate.bottom20
      .span10
        .lead What are your favorite things from your home country?
        = render 'edit_favorites', :products => :local_favorites, :f => f

    .row.top20
      .black_seperate
      .seperate.bottom20
      .span10
        .lead How about some favorite things from foreign countries?
        = render 'edit_favorites', :products => :foreign_favorites, :f => f

    .row.top20
      .black_seperate
      .seperate.bottom30
      .span3
        = f.label :email
        = f.email_field :email, :class => 'required email', :minlength => '2'
      .span3
        = f.label :password
        = f.password_field :password, :autocomplete => "off", :minlength => '6'

      .span3
        = f.label :password_confirmation
        = f.password_field :password_confirmation, :minlength => '6', :equalTo => "#user_password"

      .row
        .span3.offset8.top30
          = link_to  "cancel", users_path, :class => 'btn btn-link btn-small'
          = f.submit "Update", :class => 'btn btn-success'
