= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :method => :put }) do |f|
  = devise_error_messages!
  .row.center
    .span12.topbox.bottom80
      .row
        #user_pic.photo_edit_span.span3.top30
          = f.file_field :photo, :class => 'hidden photo_input'
          .pic
            =image_tag current_user.photo.url(:square), :class => 'img-circle edit_image'
            .edit_text.hidden
              %span.badge edit photo

        .span12
          .row
            .span3
              = f.label :first_name
              =f.text_field :first_name
            .span3
              = f.label :last_name
              =f.text_field :last_name
      .row
        .span9.offset3
          .label_text.top20.country_question.left40
            Your home country:
            %span#country_name= @user.country.try(:name) || 'Unknown Lands'
          .span6.top10
            =render 'shared/country_picker', :f => f
  .row.top20
    .span12.favorites
      .black_seperate
      .lead
        ABOUT
        %span.redding ME
      = f.label :description, 'Tell us about yourself'
      = f.text_area :description

  .row.top20
    .span12.favorites
      .black_seperate
      .lead
        MY
        %span.redding BEAUTY ROUTINE
      = f.label :routine, 'Take us through your beauty routine'
      = f.text_area :routine

  .row.top20
    .span12.favorites
      .black_seperate
      .lead
        MY
        %span.redding BEAUTY BAG
      .span10
        .label_text Tell us about your favorite beauty products
        = render 'edit_favorites', :products => :local_favorites, :f => f

  .row.top20
    .span12.favorites
      .black_seperate
      .lead
        LOCAL
        %span.redding BEAUTY SECRETS
      = f.label :secrets, 'What are some beauty secrets from your home country?'
      = f.text_area :secrets


  .row.top20
    .black_seperate.bottom20
    .span3
      = f.label :email
      = f.email_field :email, :class => 'required email', :minlength => '2'

    .row
      .span3.offset8.top30.bottom30
        = link_to  "cancel", users_path, :class => 'btn btn-link btn-small'
        = f.submit "Update", :class => 'btn btn-large btn-pink'
