.row.center
  .well.fullspan
    .span12
      .span2half
        #request_icon.img-polaroid
      .span9
        %h2 Request Items
        %p Not traveling to Paris for vacation? Don't have a friend coming back from Tokyo? Send a request to our sellers from your destination country of choice and have the goods you covet from far-away delivered to your door-step. Jet-set, go!
        %p= link_to 'Create new item basket!', new_request_basket_path, :class => 'btn btn-success'

.row
  .span12.skip_fullspan

.row
  .span12
    .lead
      Your Requests
      %span.muted.small= "#{@search.total > 0 ? @search.offset + 1 : 0} - #{@search.offset + @search.size} of #{pluralize @search.total, "request"} found"

    =form_tag request_baskets_path, :method => 'get' do
      .row.top20
        .span3
          = check_box_tag(:c_false, 1, params[:c_false], :class => 'inline')
          = label_tag(:c_false, "Active Requests", :class => 'inline bold')
        .span3
          = check_box_tag(:c_true, 1, params[:c_true], :class => 'inline')
          = label_tag(:c_true, "Completed Requests", :class => 'inline bold')
      .row
        .span5.category_filter
          %h5 
            Choose a country:
            %span#country_name.redding Unknown Lands
          .row
            - Country.all.each do |country|
              .spanhalf
                = radio_button_tag :country_id, country.id, params[:country_id].to_i == country.id, {:class => 'hidden country_radio', :country_name => "#{country.name}"}
                = label_tag "country_id_#{country.id}" do
                  %span.world_flag.bottom_flag{:class=>"sprite-#{country.flag}", :'data-toggle'=>"tooltip", :rel=> 'tooltip', :title=> country.name}
        .span3.top40= submit_tag :Search, :class => 'btn btn-danger', :id => 'search_button'

.row.bottom20
  .span12
    - @search.results.each do |req|
      .black_seperate
      .seperate.bottom10
      =link_to request_basket_path(req) do
        .row
          .span10.bottom20.shopping_link
            .media.row
              .span1half
                = image_tag req.photo, :class => 'img-polaroid fav_photo inline right30'
              .media-body.span8
                %h4.media-heading.redding
                  = truncate(req.title, :length => 50, :separator => ' ')
                  %span.small.muted= "$#{req.price}"

                .muted.inline= DateTime.parse(req.created_at).strftime('%b %-d %Y -')
                %span= truncate(req.description, :length => 250, :separator => ' ')

.row
  .span5.fright.active_red
    = paginate @search, :params => {:controller => 'request_baskets', :action => 'index'}


