.row.center
  .span12.topbox
    %h2 Requested Makeup Baskets
    %p Not traveling to Paris for vacation? Don't have a friend coming back from Tokyo? Send a request to our sellers from your destination country of choice and have the goods you covet from far-away delivered to your door-step. Jet-set, go!
    %p= link_to 'Create new makeup basket!', new_request_basket_path, :class => 'btn btn-blue'

    .lead
      Your Requests
      %span.muted.small= "#{@search.total > 0 ? @search.offset + 1 : 0} - #{@search.offset + @search.size} of #{pluralize @search.total, "request"} found"

    =form_tag request_baskets_path, :method => 'get' do
      .row.top20
        .span3
          = check_box_tag(:c_false, 1, params[:c_false], :class => 'inline')
          = label_tag(:c_false, "Active Requests", :class => 'inline bold')
        .span3
          = check_box_tag(:c_true, 1, params[:c_true], :class => 'inline')
          = label_tag(:c_true, "Completed Requests", :class => 'inline bold')
      .row
        .span5.category_filter
          %h5 
            Choose a country:
            %span#country_name Unknown Lands
          .row
            =render 'shared/country_picker'

        .span3.top40= submit_tag :Filter, :class => 'btn btn-white', :id => 'search_button'

.row.bottom20.top20
  .span12
    - @search.results.each do |req|
      =render 'shared/request_link', :req => req
.row
  .span5.fright
    = paginate @search, :params => {:controller => 'request_baskets', :action => 'index'}


