.row.center
  .well.fullspan
    .span12
      .row
        .span2half
          #request_icon.img-polaroid
        .span9
          %h2= "Requests #{@title}"
          %span.active_red
            = paginate @requests


.row
  .span12.skip_fullspan

.row.bottom20
  .span12
    - @requests.each do |req|
      .black_seperate
      .seperate.bottom10
      =link_to request_basket_path(req) do
        .row
          .span10.bottom20.request_link
            .media.row
              .span2
                = image_tag req.photo.url(:thumb), :class => 'img-polaroid fav_photo inline right30'
              .media-body.span8
                %h4.media-heading.redding= truncate(req.title, :length => 50, :separator => ' ')
                .muted.inline= req.created_at.strftime('%b %-d %Y -')
                %span= truncate(req.description, :length => 250, :separator => ' ')

.row
  .span5.fright.active_red
    = paginate @requests

