.row.center
  .span12.topbox
    %h2
      Browse Makeup Basket Requests
      %span.muted.small= "#{@search.total > 0 ? @search.offset + 1 : 0} - #{@search.offset + @search.size} of #{pluralize @search.total, "request"} found"
    =form_tag search_request_baskets_path, :method => 'get' do
      .row
        .span4
          = text_field_tag :q, params[:q], :id => 'search_input', :placeholder => 'Keywords'
        .span5.neg_eight
          .row.green
            Price range:
            %span#slider_left= "$#{params[:price_range].split(',').first}"
            %span -
            %span#slider_right= "$#{params[:price_range].split(',').last}"
          .row
            %input#price_slide(name='price_range' type="text" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="5" data-slider-value="[#{params[:price_range]}]" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="hide")
      .row
        .span5.category_filter
          %h5 
            Choose a country:
            %span#country_name Unknown Lands
          .row
            =render 'shared/country_picker'
        .span3.top40= submit_tag :Search, :class => 'btn btn-blue', :id => 'search_button'

.row.bottom20
  .span12
    - @shoppings.each do |req|
      =render 'shared/request_link', :req => req

.row
  .span5.fright.active_red
    = paginate @search, :params => {:controller => 'request_baskets', :action => 'search'}

