.row.center
  .well.fullspan
    .span3
      .pic.row
        =image_tag @request.requester.photo.url(:square), :class => 'img-polaroid'

    .span9
      %h2.row
        = "Requested by #{@request.requester.fullname}"
        -if @request.country.present?
          %span#request_location.world_flag{:class=>"sprite-#{@request.country.flag}", :'data-toggle'=>"tooltip", :rel=> 'tooltip', :title=> @request.country.name}

    .span9
      .row.lead
        = "Estimated price of the basket: $#{@request.price}"
      .row.lead
        = "#{pluralize(@request.requests.size, 'item')} in basket"
      .row.lead.vbottom.top10
        .btn.btn-success{:role => 'button', :'data-toggle'=>"modal", :'data-target'=>"#msg_modal"} Message User
        .btn.btn-danger{:role => 'button', :'data-toggle'=>"modal", :'data-target'=>"#bid_modal"} Bid On This Request

.row
  .span12.skip_fullspan.basket

.lead.top80 Items requested:
.row.bottom20
  .span12
    - @request.requests.each do |req|
      .black_seperate
      .seperate.bottom10
      .row
        .span10.bottom20.shopping_link
          .media.row
            .span1half
              = image_tag req.photo.url(:square), :class => 'img-polaroid inline right30'
            .media-body.span8
              %h4.media-heading.redding
                = truncate(req.title, :length => 50, :separator => ' ')
                %span.small.muted= "$#{req.price}"

              .muted.inline= DateTime.parse(req.created_at.to_s).strftime('%b %-d %Y -')
              %span= truncate(req.description, :length => 250, :separator => ' ')


.modal.hide{:id=>"msg_modal", :tabindex=>"-1", :role=>"dialog", :'aria-labelledby'=>"myModalLabel", :'aria-hidden'=>"true"}
  .modal-header
    %button{:type=>"button", :class=>"close", :'data-dismiss'=>"modal", :'aria-hidden' => "true"}
      &times;
    %h3= "Message #{@request.requester.first_name}"
  .modal-body
    = form_for(@message) do |f|
      = f.hidden_field :receiver_id
      = f.text_field :title, :class => 'required', :id => 'message_title'
      = f.label :text, "message #{@request.requester.first_name} about becoming a shopper for this basket", {:class => 'control-label', :for => 'challenge_note'}
      = f.text_area :text, :class => 'required', :id => 'message_text'
      = f.submit "Send your message!", :class => 'btn btn-large btn-success vbottom left20'
  .modal-footer


.modal.hide{:id=>"bid_modal", :tabindex=>"-1", :role=>"dialog", :'aria-labelledby'=>"myModalLabel", :'aria-hidden'=>"true"}
  .modal-header
    %button{:type=>"button", :class=>"close", :'data-dismiss'=>"modal", :'aria-hidden' => "true"}
      &times;
    %h3= "Bid!"
  .modal-body
    = form_for(@bid) do |f|
      = f.hidden_field :request_basket_id
      = f.text_field :amount, :class => 'required', :id => 'message_title'
      = f.submit "Submit your bid", :class => 'btn btn-large btn-success vbottom left20'
  .modal-footer
