.row.center
  .span12.topbox.bottom100
    .row
      #user_pic.span2half.text-center
        =link_to user_path(@request.requester_id) do
          = image_tag @request.requester.photo.url(:larger), :class => 'img-circle'
          #self_star
      .span12
        %h2.intro
          Requested By
          = link_to @request.requester.fullname.capitalize, user_path(@request.requester_id)
          -if @request.country.present?
            %span#request_location.world_flag{:class=>"sprite-#{@request.country.flag}", :'data-toggle'=>"tooltip", :rel=> 'tooltip', :title=> @request.country.name}
    .row
      .span9.offset3
        .row.lead.text-center
          .span2
            EST. PRICE
            %strong="$#{@request.price}"
          .spanhalf &#8226;
          .span2
            BASKET SIZE
            %strong= "#{pluralize(@request.requests.size, 'ITEM').upcase}"
          .spanhalf &#8226;
          .span2
            STATUS
            %strong="#{@request.completed ? 'COMPLETED' : 'ACTIVE'}"
        .row.lead.vbottom.top10
          .btn.btn-blue{:role => 'button', :'data-toggle'=>"modal", :'data-target'=>"#msg_modal"} Message User About Request


.lead Items requested:
.row.bottom20
  .span12
    - @request.requests.each do |req|
      .row.shopping_link
        .span1half
          = image_tag req.photo.url(:square), :class => 'img-polaroid inline right30'
        .span8
          %h4.media-heading.redding
            = truncate(req.title, :length => 50, :separator => ' ')
            %span.small.muted= "$#{req.price}"

          .muted.inline= DateTime.parse(req.created_at.to_s).strftime('%b %-d %Y -')
          %span= truncate(req.description, :length => 250, :separator => ' ')


.modal.hide{:id=>"msg_modal", :tabindex=>"-1", :role=>"dialog", :'aria-labelledby'=>"myModalLabel", :'aria-hidden'=>"true"}
  .modal-header
    %button{:type=>"button", :class=>"close", :'data-dismiss'=>"modal", :'aria-hidden' => "true"}
      &times;
    %h3= "Message #{@request.requester.first_name}"
  .modal-body
    = form_for(@message) do |f|
      = f.hidden_field :receiver_id
      = f.hidden_field :request_basket_id
      = f.text_field :title, :class => 'required', :id => 'message_title'
      = f.label :text, "message #{@request.requester.first_name} about becoming a shopper for this basket", {:class => 'control-label', :for => 'challenge_note'}
      = f.text_area :text, :class => 'required', :id => 'message_text'
      = f.submit "Send your message!", :class => 'btn btn-large btn-success vbottom left20'

