.row.center
  .well.fullspan
    .span12
      .span3
        = image_tag @user.photo.url(:square), :class => 'img-polaroid'
        #self_star
      .span8
        %h2
          = @user.fullname || '?????'
          %span.world_flag(class="sprite-#{@user.country.try(:flag)}")
        %p= @user.description
        %p
          =link_to 'Edit your profile', edit_user_registration_path, :class => 'btn btn-success'

.row
  .span12.skip_fullspan
.row
  .span12.favorites
    .black_seperate
    .seperate.bottom10
    .lead Your local favorites
    #locals= render 'show_favorites', :favorites => @user.local_favorites

.row.top20
  .span12.favorites
    .black_seperate
    .seperate.bottom10
    .lead Your foreign favorites
    #foreigns= render 'show_favorites', :favorites => @user.foreign_favorites

.row.top20
  .span12
    .black_seperate
    .seperate.bottom10
    .lead Reviews




