.row.center
  .span12.topbox.bottom100
    .row
      #user_pic.span2half.text-center
        = image_tag @user.photo.url(:larger), :class => 'img-circle'
        #self_star
      .span12
        %h2.intro
          Hi! I'm
          = @user.fullname || '?????'
          -if @user.country.present?
            %span#my_location.world_flag{:class=>"sprite-#{@user.country.flag}", :'data-toggle'=>"tooltip", :rel=> 'tooltip', :title=> @user.country.name}
    .row
      .span9.offset3
        %p
          .btn.btn-blue{:role => 'button', :'data-toggle'=>"modal", :'data-target'=>"#msg_modal"} Send them a Message

.row.top20
  .span12.favorites
    .black_seperate
    .lead
      ABOUT
      %span.redding THEM
    =@user.description

.row.top20
  .span12.favorites
    .black_seperate
    .lead
      THEIR
      %span.redding BEAUTY ROUTINE
    =@user.routine

.row.top20
  .span12.favorites
    .black_seperate
    .lead.bottom50
      THEIR
      %span.redding BEAUTY BAG
    #locals= render 'show_favorites', :favorites => @user.local_favorites

.row.top20
  .span12.favorites
    .black_seperate
    .lead
      LOCAL
      %span.redding BEAUTY SECRETS
    =@user.secrets

.row.top20
  .span12
    .black_seperate
    .lead
      THEIR
      %span.redding REVIEWS


.modal.hide{:id=>"msg_modal", :tabindex=>"-1", :role=>"dialog", :'aria-labelledby'=>"myModalLabel", :'aria-hidden'=>"true"}
  .modal-header
    %button{:type=>"button", :class=>"close", :'data-dismiss'=>"modal", :'aria-hidden' => "true"}
      &times;
    %h3= "Message #{@user.first_name}"
  .modal-body
    = form_for(@user.received_messages.build) do |f|
      = f.hidden_field :receiver_id
      = f.label :title, "Subject"
      = f.text_field :title, :class => 'required', :id => 'message_title'
      = f.label :text, "Message"
      = f.text_area :text, :class => 'required', :id => 'message_text'
      = f.submit "Send your message!", :class => 'btn btn-large btn-success vbottom'
  .modal-footer





