#email_signup.row
  %p.lead#headline.text-center
    Find Makeup. Swap Styles.
  %p.lead.text-center
    get exactly what you want
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    #centerize.text-center.row
      .span3.control-group.offset1
        = f.label :email, {:class => 'control-label', :for => 'user_email'}
        .controls
          = f.email_field :email, :size => 45, :class => 'required email', :minlength => '2', :autofocus => true
      .span3.control-group
        = f.label :password, {:class => 'control-label', :for => 'user_password'}
        .controls
          = f.password_field :password, :size => 45, :class => 'required', :minlength => '6'
      .span3.control-group
        = f.label :password_confirmation, {:class => 'control-label', :for => 'user_password_confirmation'}
        .controls
          = f.password_field :password_confirmation, :size => 45, :class => 'required', :minlength => '6', :equalTo => "#user_password"
      .span2
        = f.submit "Sign up", :class => 'btn btn-large btn-pink'

