.row.center
  .well.fullspan
    .span12
      .span2half
        #request_icon.img-polaroid
      .span9
        %h2 Requests
        %p Post a request for others to take up. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        %p= link_to 'Create new request!', new_request_path, :class => 'btn btn-success'

.row
  .span12.skip_fullspan

- {'active' => @active_requests, 'in progress' => @in_progress_requests, 'completed' => @completed_requests}.each do |title,requests|
  .row.bottom20
    .span12
      .black_seperate
      .seperate.bottom10
      .lead 
        Your
        %span.redding= title
        requests
      - requests.each do |req|
        =link_to request_path(req) do
          .span5.bottom20.request_link
            .media.row
              .span1
                = image_tag req.photo.url(:thumb), :class => 'img-polaroid fav_photo inline right30'
              .media-body.span4
                %h4.media-heading.redding= truncate(req.title, :length => 25, :separator => ' ')
                .muted.inline= req.created_at.strftime('%b %-d %Y -')
                %span= truncate(req.description, :length => 70, :separator => ' ')

      .row
        .span2.fright.active_red
          - if title == 'active'
            =link_to 'see more...', active_requests_path
          - elsif title == 'in progress'
            =link_to 'see more...', in_progress_requests_path
          - elsif title == 'completed'
            =link_to 'see more...', completed_requests_path

