.row.center
  .well.fullspan
    .span12
      .row
        .span2half
          #shopping_icon.img-polaroid

        .span9
          %h2 
            Shop Requests
            %span.muted.small= "#{@search.total > 0 ? @search.offset + 1 : 0} - #{@search.offset + @search.size} of #{pluralize @search.total, "request"} found"
          =form_tag search_shoppings_path, :method => 'get' do
            .row
              .span4
                = text_field_tag :q, params[:q], :id => 'search_input', :placeholder => 'Keywords'
            .row
              .span5.category_filter
                %h5 
                  Choose a country:
                  %span#country_name.redding Unknown Lands
                .row
                  - Country.all.each do |country|
                    .spanhalf
                      = radio_button_tag :country_id, country.id, params[:country_id].to_i == country.id, {:class => 'hidden country_radio', :country_name => "#{country.name}"}
                      = label_tag "country_id_#{country.id}" do
                        %span.world_flag.bottom_flag{:class=>"sprite-#{country.flag}", :'data-toggle'=>"tooltip", :rel=> 'tooltip', :title=> country.name}
              .span3.top40= submit_tag :Search, :class => 'btn btn-danger', :id => 'search_button'

.row
  .span12.skip_fullspan

.row.bottom20
  .span12
    - @shoppings.each do |req|
      .black_seperate
      .seperate.bottom10
      =link_to shopping_path(req) do
        .row
          .span10.bottom20.shopping_link
            .media.row
              .span2
                = image_tag req.photo, :class => 'img-polaroid fav_photo inline right30'
              .media-body.span8
                %h4.media-heading.redding= truncate(req.title, :length => 50, :separator => ' ')
                .muted.inline= DateTime.parse(req.created_at).strftime('%b %-d %Y -')
                %span= truncate(req.description, :length => 250, :separator => ' ')

.row
  .span5.fright.active_red
    = paginate @search, :params => {:controller => 'shoppings', :action => 'search'}

