= link_to "Leafy", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li= link_to 'You', users_path
    %li= link_to 'Inbox', '#inbox'
    %li= link_to 'Request' , requests_path
    %li= link_to 'Shop' , '#challengers_path'
    %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li= link_to 'Login', '#login', {:role => 'button', :'data-toggle'=>"modal", :'data-target'=>"#login_modal"}
    =render 'shared/login_modal'

